# Python
__pycache__/
*.py[cod]
*$py.class

# Large files, data, and models
*.pkl
*.h5
*.model
*.csv
*.tsv
*.zip
*.tar.gz

# Specific to fruit_svm_project
fruit_svm_project/data/
fruit_svm_project/models/
fruit_svm_project/output_annotated.png
